<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--local CSS-->
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
    <!--common CSS-->
    <link rel="stylesheet" href="{% static 'common/common.css' %}">

    <title>Restaurant Recommendation</title>
</head>
<body>
<!-- nav -->
<div id="content_1">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">Restaurant Recommendation Engine</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <div class="form-inline">
                    {% if user.is_authenticated %}
                        <a class="btn btn-info btn-sm mr-4" href="{% url 'restaurant:generate_rec' user.username %}">Recommendation</a>
                        <div class="btn-group" role="group">
                            <div class="btn" style="color: white;">{{ user.username }}</div>
                            <a href="{% url 'logout' %}?"
                               class="btn" style="color: grey;">Logout</a>
                        </div>
                    {% else %}
                        <a class="btn btn-outline-secondary btn-sm" style="color: white;"
                           href="{% url 'login' %}">Login</a>
                        <a class="btn btn-success ml-3 btn-sm"
                           href="{% url 'users:register' %}?next={{ request.path }}">Sign
                            Up</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </nav>
    <div class="container">
        <form method='get' class="form-inline mx-auto" action="{% url 'restaurant:search' %}"
              style="width: 80%;margin-top: 230px;">
            <div class="row" style="width: 100%;">
                <div class="col-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text form-control" id="basic-addon3"
                                  style="font-weight: bold">Find</span>
                        </div>
                        <input class="form-control" type="text" placeholder="Restaurant Name/Category" name="keywords"
                               aria-describedby="basic-addon3">
                        {#                <input class="form-control" type="text" placeholder="Address" name="address" >#}
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text form-control" id="basic-addon3"
                                  style="font-weight: bold">City</span>
                        </div>
                        <select class="custom-select" name="address" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <option value="">All cities</option>
                            <option value="Sun Prairie">Sun Prairie</option>
                            <option value="Madison">Madison</option>
                            <option value="Fitchburg">Fitchburg</option>
                            <option value="Oregon">Oregon</option>
                            <option value="DeForest">DeForest</option>
                            <option value="Monona">Monona</option>
                            <option value="Middleton">Middleton</option>
                            <option value="Stoughton">Stoughton</option>
                            <option value="Cottage Grove">Cottage Grove</option>
                            <option value="Verona">Verona</option>
                            <option value="Waunakee">Waunakee</option>
                            <option value="Cross Plains">Cross Plains</option>
                            <option value="De Forest">De Forest</option>
                            <option value="Windsor">Windsor</option>
                            <option value="Mount Horeb">Mount Horeb</option>
                            <option value="McFarland">McFarland</option>
                            <option value="Mc Farland">Mc Farland</option>
                            <option value="Black Earth">Black Earth</option>
                            <option value="Dane">Dane</option>
                            <option value="Springfield">Springfield</option>
                            <option value="Paoli">Paoli</option>
                            <option value="Belleville">Belleville</option>
                            <option value="Brooklyn">Brooklyn</option>
                            <option value="Hawthorne">Hawthorne</option>
                            <option value="Shorewood Hills">Shorewood Hills</option>
                        </select>
                    </div>
                </div>
                <div class="col-1">
                    <input type="hidden" name="ordered" value="high-rated">
                    <input type="hidden" name="page" value="1">
                    <button type="submit" class="btn btn-outline-info form-control">Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="content_2">
    <div class="container">
        <h1 class="text-center">Get Started</h1>
        <h5 class="mt-4">1. Sign up and login to the system</h5>
        <br>
        <h5>2. Search the restaurant</h5>
        <br>
        <h5>3. Give some reviews（text and stars） to those restaurants you searched</h5>
        <br>
        <h5>4. Generate the recommendation report</h5>
        <br>
        *The data-set is from the
        <button class="btn btn-sm btn-outline-info">www.yelp.com</button>
    </div>
</div>

<div id="content_3">
    <div class="container">
        <p>
        <h4>About This Project</h4>
        This system chose 1619 restaurant samples which located in Wisconsin from the yelp data-set, which includes
        26552 customers and 82510
        reviews related to those restaurants.
        All of those are training data.
        <br>
        <br>
        The aim of this project is to develop a web application to do recommendation
        according to the those text reviews and ratings. This system will combine machine
        learning rating analysis and nature language processing to do the prediction.
        <br>
        <br>
        <h4>Algorithms</h4>
        This app uses collaborative filtering algorithm based on ratings and text reviews, which contains
        <br>
        <button class="btn btn-sm btn-info" disabled></button>
        <span>Finished</span>
        <button class="btn btn-sm btn-warning" disabled></button>
        <span>In progress</span>

        <h6 class="mt-3">Similarity Calculation</h6>
        <ul>
            <li>
                <button class="btn btn-sm btn-info">Euclidean Distance</button>
            </li>
            <li class="mt-2">
                <button class="btn btn-sm btn-info">Cosine Similarity</button>
            </li>
            <li class="mt-2">
                <button class="btn btn-sm btn-info">Pearson Coefficient</button>
            </li>
        </ul>

        <h6 class="mt-4">Natural Language Processing (NLP)</h6>

        <ul>
            <li>
                <button class="btn btn-sm btn-info">Words-of-bags</button>
            </li>
            <li class="mt-2">
                <button class="btn btn-sm btn-info">TF-IDF</button>
            </li>
            <li class="mt-2">
                <button class="btn btn-sm btn-info">Word2Vec</button>
                <ul>
                    <li>
                        Google-News pre-trained neural network
                    </li>
                    <li>
                        Glove.6b
                    </li>
                </ul>
            </li>
            <li class="mt-2">
                <button class="btn btn-sm btn-warning">Doc2Vec</button>
            </li>
            <li class="mt-2">
                <button class="btn btn-sm btn-warning">Google BERT</button>
            </li>
        </ul>
        <h4 class="mt-4">Conclusion</h4>
        the mean absolute error of text-based recommendation is better than the rating-based. The reason is the data
        matrix we generated is a sparse matrix, which means some restaurants don’t have too many reviews. We cannot give
        a precise recommendation without enough rating information. But because each review has some texts to read, the
        system can try to understand the text review and use this information to give more precise result.
        <h4 class="mt-4">Future Work</h4>
        <ul>
            <li>Try to process the whole yelp data</li>
            <li>Sparse matrix problem</li>
            <li>Dynamic model (auto-build the matrix)</li>
        </ul>

        <h4 class="mt-4">Testing Results</h4>
        <img src="{% static 'users/result_table.png' %}">
        <h4 class="mt-4">References</h4>
        <small>
            [1] Richard Socher, CS 224D course note: Deep Learning for NLP1
            https://cs224d.stanford.edu/lecture_notes/notes1.pdf
            <br>
            [2] Synced, Best NLP Model Ever? Google BERT Sets New Standards in 11 Language Tasks
            https://medium.com/syncedreview/best-nlp-model-ever-google-bert-sets-new-standards-in-11-language-tasks-4a2a189bc155
            <br>
            [3] Structured vs. Unstructured data, https://brightplanet.com/2012/06/structured-vs-unstructured-data/
            <br>
            [4] A Beginner's Quide to Word2Vec and Neural Word Embeddings https://skymind.ai/wiki/word2vec
            <br>
            [5] Mikolov, Tomas, et al. "Efficient estimation of word representations in vector space." arXiv preprint
            arXiv:1301.3781 (2013). https://arxiv.org/abs/1301.3781
            <br>
            [6] Devlin, Jacob, et al. "Bert: Pre-training of deep bidirectional transformers for language
            understanding."
            arXiv preprint arXiv:1810.04805 (2018). https://arxiv.org/abs/1810.04805
            <br>
            [7] Vaswani, Ashish, et al. "Attention is all you need." Advances in Neural Information Processing Systems.
            2017.
        </small>
        </p>

    </div>
</div>

<div id="footer">
    <div class="text-center" style="font-size:16px">&copy; Zeya Kong | Capstone Project</div>
    <div style="font-size: 13px;" class="text-center">Contact Me: <a>Email</a>| <a>LinkedIn</a>| <a>GitHub</a></div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'users/index.js' %}"></script>
</body>
</html>
