<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--common CSS-->
    <link rel="stylesheet" href="{% static 'common/common.css' %}">
    <!--rating bar-->
    <link rel="stylesheet" href="{% static 'restaurant/fontawesome-stars-o.css' %}?version=2019">
    <!--font-awesome package-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>recommendation</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Restaurants Recommendation</a>
        <iframe src="https://ghbtns.com/github-btn.html?user=zeyakong&repo=Recommendation_Django&type=watch&count=true"
                frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <div class="form-inline">
                <a class="btn btn-info btn-sm mr-4" href="{% url 'restaurant:generate_rec' user.username %}">Recommendation</a>
                {% if user.is_authenticated %}
                    <div class="btn-group" role="group">
                        <div class="btn" style="color: white;">{{ user.username }}</div>
                        <a href="{% url 'logout' %}?"
                           class="btn" style="color: grey;">Logout</a>
                    </div>
                {% else %}
                    <a class="btn btn-outline-secondary btn-sm" style="color: white;" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-success ml-3 btn-sm"
                       href="{% url 'users:register' %}?next={{ request.path }}">Sign
                        Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div style="margin-top: 100px">
        <h3>1. User Info
            <button class="btn btn-sm" data-toggle="collapse" data-target="#info_section"><i class="fas fa-chevron-down"></i></button>
        </h3>
        <div class="collapse" id="info_section">
            <div>Username: {{ user.username }}</div>
            <br>
            <div>Email: {{ user.email }}</div>
            <br>
            <div>Type: <img src="{% static 'restaurant/user.png' %}" style="height: 50px;width: 50px"></div>
            <br>
            <div>Review Count: {{ user_review_list|length }}</div>
        </div>
        <h3 class="mt-4">2. Your Ratings & Reviews
            <button class="btn btn-sm" data-target="#reviews_section" data-toggle="collapse" aria-expanded="true"><i class="fas fa-chevron-down"></i></button>
        </h3>
        <div class="collapse" id="reviews_section">
            {% if user_review_list %}
                {% for user_review in user_review_list %}
                    <div class="mt-4 form-control" style="height: 100%">
                        <div class="row">
                            <div class="text-left col-9" style="font-size:16px;">
                                <div class="form-inline mt-2">
                                    <select style="width: 100%" id="{{ user_review.id }}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <div class="ml-2 mb-1 text-muted" style="font-size: 15px;">
                                        {{ user_review.date }}
                                    </div>
                                </div>
                                <div class="reviewText">
                                    {{ user_review.text }}
                                </div>
                                <div class="text-muted" style="font-size: 14px;">For
                                    restaurant: <a
                                            href="{% url 'restaurant:detail' user_review.business.business_id %}">{{ user_review.business.name }}</a>
                                </div>
                            </div>
                            <div class="text-right col" style="width: 100%">
                                <div class="form-inline btn-group">
                                    <button class="btn btn-sm" title="edit"><i class="far fa-edit"></i></button>
                                    <button class="btn btn-sm" title="delete"><i class="far fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                No available review.
            {% endif %}
        </div>
    </div>
    <div class="mt-4">
        <h3>3. Recommendation Algorithms
        <button class="btn btn-sm" data-target="#algorithm_section" data-toggle="collapse" aria-expanded="true"><i class="fas fa-chevron-down"></i></button>
        </h3>
        <div class="collapse" id="algorithm_section">
            <div class="form-control mt-2" style="width: 800px; height:100%;font-size: 13px" >
            <div class="input-group ml-1">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="font-size: 13px;width: 200px">Rating-based</label>
                </div>
                <select class="custom-select">
                    <option>itemCF</option>
                    <option>userCF</option>
                    <option>both</option>
                </select>
            </div>
            <div class="input-group ml-1 mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="font-size: 13px;width: 200px">text-based</label>
                </div>
                <select class="custom-select">
                    <option>bag-of-words</option>
                    <option>TF-IDF</option>
                    <option>word2vec</option>
                </select>
            </div>
            <div class="input-group ml-1 mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="font-size: 13px;width: 200px">Rating-based&text-based</label>
                </div>
                <select class="custom-select">
                    <option>both</option>
                    <option>rating-based only</option>
                    <option>text-based only</option>
                </select>
            </div>
            <div class="input-group ml-1 mt-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" style="font-size: 13px;width: 200px">recommendation type</label>
                </div>
                <select class="custom-select">
                    <option>Most Popular</option>
                    <option>Specific</option>
                </select>
            </div>
            <button class="btn btn-primary mt-2 form-control" style="font-size: 13px" onclick="generate()">GENERATE
            </button>
        </div>
        </div>

    </div>
    <div class="mt-4">
        <h3>4. Generate</h3>
    </div>
    <div style="height: 300px;"></div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="{% static 'restaurant/jquery.barrating.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $("#rec_result").hide();
        {% for user_review in user_review_list %}
            $('#{{ user_review.id }}').barrating({
                theme: 'fontawesome-stars-o',
                readonly: true,
                initialRating: {{ user_review.stars }}
            });
        {% endfor %}
    });

    function generate() {
        $("#rec_form").hide();
        $("#rec_result").show();
    }
</script>
</body>
</html>