body, html {
    height: 100%;
    width: 100%;
    background-color: white;
}


.form-control{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
    margin-top: 100px;
    padding-top: 20px;
    background-color: #f5f5ed;
    padding-bottom: 5px;
}

